# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Packaging
*.egg-info/
.eggs/
build/
dist/

# Virtualenv
.venv/

# Runtime / local configs
configs/

# Development / local runtime
configs_test/
state/
